<div class="row">
    <div class="col-12 col-md-4">
        <button type="button" (click)="listTickes()" class="btn btn-primary" title="Ver pedidos">
      <i class="fas fa-calendar-week font-sz-1"></i>
    </button>
    </div>
    <div class="col-12 col-md-4">
        <button type="button" (click)="editEvent()" class="btn btn-warning" title="Editar viciny" data-toggle="modal" data-target="#editevent">
    <i class="fas fa-edit font-sz-1"></i>
  </button>
    </div>
    <div class="col-12 col-md-4">
        <button type="button" (click)="deleteEvent()" class="btn btn-danger" title="Eliminar viciny">
    <i class="fas fa-trash font-sz-1"></i>
  </button>
    </div>
</div>