<div class="modal fade" id="socialnetwork" tabindex="-1" role="dialog" aria-labelledby="socialnetworkLabel" aria-hidden="true" *ngIf="eventModal">
    <div class="modal-dialog text-center" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h3 class="modal-title montserrat-semibold text-dark pl-3" id="socialnetworkLabel">
                    Compartir en redes sociales
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
                <div class="row text-center">
                    <div class="col-12 text-center">
                        <div class="shared-panel text-center">
                            <a [href]="'https://www.facebook.com/sharer/sharer.php?u=https://viciny.ga/viciny/'+eventModal.id" target="_blank" class="shared fb" title="Facebook">
                                <i class="fab text-white fa-2x fa-facebook-f"></i>
                            </a>
                            <a [href]="'https://twitter.com/intent/tweet?text='+eventModal?.name+'&url=https://viciny.ga/viciny/'+eventModal?.id" target="_blank" class="shared tt" title="Twitter">
                                <i class="fab text-white fa-2x fa-twitter"></i>
                            </a>
                            <a [href]="'https://wa.me/?text=https://viciny.ga/viciny/'+eventModal?.id" target="_blank" data-action='share/whatsapp/share' class="shared wa" title="WhatsApp">
                                <i class="fab text-white fa-2x fa-whatsapp"></i>
                            </a>
                            <a [href]="'mailto:?subject='+eventModal.name+'&body=https://viciny.ga/viciny/'+eventModal?.id" target="_blank" class="shared gp" id="sml" title="Gmail">
                                <i class="fas text-white fa-2x fa-envelope"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>