<app-social-feed></app-social-feed>

<section class="container my-5 search-section">
    <div class="row my-5">
        <app-breadcrumb></app-breadcrumb>
        <div class="col-12">
            <h2 class="m-0 text-left text-dark montserrat-bold">
                Resultado de la busqueda: {{meta?.total}} Vicinys
            </h2>
        </div>
    </div>
    <!--SEARCH-->
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="row">
                <div class="col-12 mb-2">
                    <label for="name" class="montserrat-regular">Nombre viciny</label>
                    <input type="text" (keyup.enter)="searchEvent()" class="form-control mt-1" id="name" [(ngModel)]="name">
                </div>
                <div class="col-12 mb-2">
                    <label for="organizer" class="montserrat-regular">Organizado por</label>
                    <input type="text" (keyup.enter)="searchEvent()" class="form-control mt-1" id="organizer" [(ngModel)]="organizer">
                </div>
                <div class="col-12 mb-2">
                    <label for="date" class="montserrat-regular">Quiero salir</label>
                    <select id="date" class="form-control montserrat-regular" (change)="searchEvent()" [(ngModel)]="date">
                        <option value="any_date">Cualquier fecha</option>
                        <option value="today">Hoy</option>
                        <option value="tomorrow">Mañana</option>
                        <option value="this_weekend">Este fin de semana</option>
                        <option value="this_week">Esta semana</option>
                        <option value="next_week">La próxima semana</option>
                        <option value="this_month">Este mes</option>
                        <option value="next_month">El próximo mes</option>
                    </select>
                </div>
                <div class="col-12 mb-2">
                    <label for="municipality" class="montserrat-regular">En</label>
                    <input type="text" class="form-control mt-1" id="municipality" (keyup.enter)="searchEvent()" placeholder="Municipio" [(ngModel)]="municipality">
                </div>
                <div class="col-12 mb-2">
                    <label for="type_event" class="montserrat-regular">Me apetece</label>
                    <select id="type_event" class="form-control montserrat-regular" (change)="searchEvent()" [(ngModel)]="selectTypeEvent">
                        <option value="todos">Cualquier cosa</option>
                        <option *ngFor="let type of typesEvent" [value]="type.id">{{type.name}}</option>
                    </select>
                </div>
                <div class="col-12 mb-2">
                    <button (click)="searchEvent()" type="button" class="col-12 btn btn-primary bg-primary-regular p-3">
                        <figure class="m-0">
                            <i class="fas fa-search font-sz-2"></i>
                        </figure>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="row" *ngIf="meta?.total===0">
                <div class="col-12 col-md-6 offset-md-3 text-center">
                    <div class="card py-3">
                        <div class="card-body">
                            <figure class="my-3">
                                <img src="assets/images/sad.svg" height="100" width="100" alt="">
                            </figure>
                            <h3 class="card-title montserrat-bold">
                                ¡No se han encontrado Vicinys con los datos que nos has proporcionado!
                            </h3>
                            <p class="card-text montserrat-regular pt-3">
                                Actualmente no hay Vicinys en estas fechas o ubicación. Prueba buscando en una fecha distanta u otra ciudad, puede que encuentres tu Viciny favorito en otro lugar!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--EVENTS-->
            <div class="row" *ngIf="meta?.total>0">
                <div class="col-12 col-sm-6" *ngFor="let event of events">
                    <div class="card border-radius-2x bg-dark text-white pointer" [routerLink]="['/viciny',event.id]">
                        <img class="card-img border-radius-2x redimension" [src]="event.image?event.image:'assets/images/no-image.png'" alt="Card image" height="258">
                        <div class="card-img-overlay border-radius-2x card-footer text-muted flex-end pl-0 pb-0">
                            <p class="text-uppercase text-light montserrat-regular font-sz-0x m-0 p-3 info-event">
                                {{ event.start_date | date: 'MMM d, y, h:mm a' }}
                                <br> <span class="montserrat-semibold font-sz-1">{{ event.name }}</span>
                                <br>
                                <i class="fas fa-music"></i>&nbsp;&nbsp;<span class="text-capitalize">{{ event.type_event.name }}</span>
                            </p>
                        </div>
                    </div>
                    <div class="share-btn-event">
                        <button (click)="openShared(event)" type="button" class="btn btn-primary btn-fab btn-round mx-2 bg-white" title="Compartir" data-toggle="modal" data-target="#socialnetwork">
                            <i class="fas text-primary-regular font-sz-3 fa-share"></i>
                        </button>
                        <button (click)="addEventFavorite(event.id)" class="btn btn-primary btn-fab btn-round bg-white" title="Añadir a favoritos">
                            <i class="fas text-primary-regular font-sz-3 fa-heart"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--PAGINATOR-->
    <div class="row" *ngIf="meta?.total>0">
        <div class="col-12">
            <nav aria-label="navpaginado">
                <ul class="pagination">
                    <li class="page-item">
                        <button class="page-link" (click)="searchEvent('?page='+(meta.current_page-1))" [disabled]="!(meta.current_page>1)">Anterior</button>
                    </li>
                    <li class="page-item " [ngClass]="{active: (meta.current_page-2>0?meta.current_page+2>meta.last_page?i+meta.last_page-4:i+meta.current_page-2:i+1)==meta.current_page}" *ngFor="let item of [].constructor(meta.last_page>5?5:meta.last_page);let i = index;">
                        <a class="page-link" (click)="searchEvent('?page='+(meta.current_page-2>0?meta.current_page+2>meta.last_page?i+meta.last_page-4:i+meta.current_page-2:i+1))">
                            {{meta.current_page-2>0?meta.current_page+2>meta.last_page?i+meta.last_page-4:i+meta.current_page-2:i+1}}</a>
                    </li>
                    <li class="page-item">
                        <button class="page-link" (click)="searchEvent('?page='+(meta.current_page+1))" [disabled]="!(meta.current_page<meta.last_page)">Siguiente</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<app-share-social [eventModal]="eventModal"></app-share-social>