.search-section {
    padding-top: 150px;
}

.border-radius-2x {
    border-radius: 16px;
}

.flex-end {
    align-items: flex-end;
}

.share-btn-event {
    position: absolute;
    bottom: 18px;
    right: 18px;
}

.info-event {
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
}

.redimension {
    object-fit: cover;
}

.shared-panel {
    overflow: auto;
}

.shared-panel span {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
}

.shared {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px 0;
    padding: 0;
    padding-top: 9px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%;
}

.shared:hover {
    opacity: 0.7;
}

.shared.gp {
    background-position: 0px 0px;
    background-color: #E62B34;
}

.shared.tt {
    background-position: 0px -30px;
    background-color: #43BDF0;
}

.shared.ce {
    background-position: 0px -60px;
    background-color: #8A898D;
}

.shared.wa {
    background-position: 0px -90px;
    background-color: #0dc143;
}

.shared.fb {
    background-position: 0px -120px;
    background-color: #6081C4;
}

.st2 {
    border-radius: 0;
}

.st3 {
    border-radius: 5px;
}