<app-social-feed></app-social-feed>

<section class="container my-5 tickets-section">
    <div class="row">
        <app-breadcrumb></app-breadcrumb>
        <div class="col-12">
            <h2 class="m-0 text-left text-dark montserrat-bold">
                Compra {{type}}
            </h2>
        </div>
    </div>
    <div class="row py-3 my-5">
        <div class="col-12 text-center my-5">
            <figure>
                <img *ngIf="type === 'Aceptada'" src="assets/images/ticket-success.svg" width="200" height="200" alt="">
                <img *ngIf="type === 'Rechazada' || type === 'Cancelada' || type === 'Pendiente'" src="assets/images/sad.svg" width="200" height="200" alt="">
            </figure>
            <h4 class="montserrat-regular text-dark my-4" *ngIf="type === 'Aceptada'">
                Haz realizado una compra satisfactoria. Estamos procesando todos los datos necesarios y en unos minutos saldrá tu código QR en <span class="pointer text-primary-regular" [routerLink]="['/mis-llaves']">Mis LLaves</span>
            </h4>
            <h4 class="montserrat-regular text-dark my-4" *ngIf="type === 'Rechazada' || type === 'Cancelada'">
                ¡Lo sentimos! Haz intentado realizar una compra pero esta fue <span class="text-primary-regular"><b>{{type}}</b></span>.
            </h4>
            <h4 class="montserrat-regular text-dark my-4" *ngIf="type === 'Pendiente'">
                Haz realizado una compra la cual esta en proceso. Por favor espera, muy pronto se te notificará el estado de la compra.
            </h4>
        </div>
    </div>
</section>