.info-section {
    padding-top: 150px;
}

.image-event {
    width: 100%;
    height: 450px;
    object-fit: fill;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    background-color: #1E122E;
}

.ticket-arrow-event::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    position: absolute;
    top: 12px;
    right: 15px;
    color: #c5c5c5;
}

.share-btn-event {
    position: absolute;
    bottom: -18px;
    right: 15px;
}

.btn-buy-ticket {
    background-color: transparent;
    border: none;
    padding-left: 0px;
    text-align: left;
}

.map-event {
    width: 100% !important;
    height: 350px !important;
    margin-bottom: 50px;
}

.shared-panel {
    overflow: auto;
}

.shared-panel span {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
}

.shared {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px 0;
    padding: 0;
    padding-top: 9px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%;
}

.shared:hover {
    opacity: 0.7;
}

.shared.gp {
    background-position: 0px 0px;
    background-color: #E62B34;
}

.shared.tt {
    background-position: 0px -30px;
    background-color: #43BDF0;
}

.shared.ce {
    background-position: 0px -60px;
    background-color: #8A898D;
}

.shared.wa {
    background-position: 0px -90px;
    background-color: #0dc143;
}

.shared.fb {
    background-position: 0px -120px;
    background-color: #6081C4;
}

.st2 {
    border-radius: 0;
}

.st3 {
    border-radius: 5px;
}

@media (min-width: 576px) {
    .ticket-event-web,
    .space-image {
        display: block;
    }
    .ticket-event-movil {
        display: none;
    }
}

@media (max-width: 575px) {
    .ticket-event-web,
    .space-image {
        display: none !important;
    }
    .ticket-event-movil {
        display: block;
    }
}