<app-social-feed></app-social-feed>

<section>
    <section class="info-section mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 text-left px-0">
                    <figure class="m-0">
                        <img [src]="event?.image?event?.image:'assets/images/no-image.png'" alt="" class="image-event">
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row">
            <div class="col-12 col-md-2 ticket-event-web">
                <div class="row">
                    <div class="col-12 bg-primary-regular pl-3 pr-3 pt-3 pb-2">
                        <div class="row">
                            <div class="col-4 text-right pt-2">
                                <figure class="m-0">
                                    <i class="fas fa-key text-white fa-2x"></i>
                                </figure>
                            </div>
                            <div class="col-8 ticket-arrow-event text-capitalize pt-0">
                                <button type="button" class="text-light montserrat-regular btn-buy-ticket pointer" data-toggle="modal" data-target="#buyticket">
                                    Adquirir entradas
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10 bg-primary-bold">
                <div class="row px-0 px-md-5 pb-5 pt-0 pt-md-4">
                    <div class="col-12 ticket-event-movil">
                        <div class="row">
                            <div class="col-6 bg-primary-regular pl-3 pr-3 pt-3 pb-2">
                                <div class="row">
                                    <div class="col-4 text-right pt-2">
                                        <figure class="m-0">
                                            <i class="fas fa-key text-white fa-2x"></i>
                                        </figure>
                                    </div>
                                    <div class="col-8 ticket-arrow-event text-capitalize pt-1">
                                        <button type="button" class="text-light montserrat-regular btn-buy-ticket pointer" data-toggle="modal" data-target="#buyticket">
                                            Adquirir <br> entradas
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <h3 class="text-uppercase text-light montserrat-semibold">
                            {{event?.name}}
                        </h3>
                    </div>
                    <div class="col-12">
                        <p class="m-0 text-capitalize montserrat-light text-light font-sz-0">
                            {{event?.type_event.name}}
                        </p>
                    </div>
                    <div class="col-6 mt-3">
                        <p class="text-uppercase text-light montserrat-semibold m-0">
                            Organizado por:
                        </p>
                        <p class="text-capitalize text-light montserrat-light m-0 font-sz-0">
                            {{event?.organizer}}
                        </p>
                    </div>
                    <div class="col-6 mt-3">
                        <p class="text-uppercase text-light montserrat-semibold m-0">
                            Fecha:
                        </p>
                        <p class="text-capitalize text-light montserrat-light m-0 font-sz-0">
                            {{event?.finish_date | date:'EEEE, MMMM d, y, h:mm a' }}
                        </p>
                    </div>
                </div>
                <div class="share-btn-event">
                    <button type="button" class="btn btn-primary btn-fab btn-round mx-2 bg-white" title="Compartir" data-toggle="modal" data-target="#socialnetwork">
                    <i class="fas text-primary-regular font-sz-3 fa-share"></i>
                  </button>
                    <button type="button" (click)="addEventFavorite(event.id)" class="btn btn-primary btn-fab btn-round bg-white" title="Añadir a favoritos">
                      <i class="fas text-primary-regular font-sz-3 fa-heart"></i>
                  </button>
                </div>
            </div>
        </div>
    </section>

    <section class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-8 text-left">
                <h2 class="m-0 montserrat-bold">
                    Acerca de este evento
                </h2>
                <p class="text-left mt-3 montserrat-regular">
                    {{event?.description}}
                </p>
            </div>
            <div class="col-12 col-md-4 text-left">
                <h5 class="text-uppercase montserrat-bold">
                    Fecha y hora
                </h5>
                <p class="montserrat-light">
                    {{event?.finish_date | date:'EEE, d MMMM , y, h:mm a' }} hora Colombia
                </p>
                <h5 class="text-uppercase montserrat-bold">
                    Ubicación
                </h5>
                <p class="montserrat-light">
                    {{event?.address}}, {{event?.municipality.name}}, {{event?.municipality.department.name}}
                </p>
                <h5 class="text-uppercase montserrat-bold">
                    Precio
                </h5>
                <p class="montserrat-light">
                    {{event?.ticket_value | currency:'COP' }} pesos
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="mapevent" class="map-event bg-primary-bold mt-2"></div>
            </div>
        </div>
    </section>
    <app-modal-pay [event]="event"></app-modal-pay>
</section>

<app-share-social [eventModal]="event"></app-share-social>