<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3 bg-login pt-5 text-center">
            <figure class="pointer" [routerLink]="['/inicio']">
                <img src="assets/images/name.svg" alt="Logo Viciny">
            </figure>
        </div>
        <div class="col-12 col-md-9">
            <div class="row mt-5 pr-0 pr-md-5">
                <div class="col-12 text-center text-md-right">
                    <p class="montserrat-regular text-dark">
                        ¿No tienes una cuenta aún? <a [routerLink]="['/registro']" class="text-primary-regular">Crea una</a>
                    </p>
                </div>
            </div>
            <div class="row div-login">
                <div class="col-10 offset-1 col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h2 class="montserrat-semibold text-center text-md-left text-dark">
                                ¡Bienvenido! ¡Qué gusto verte de nuevo!
                            </h2>
                        </div>
                        <div class="col-12 col-md-6">
                            <form class="form" ngNativeValidate [formGroup]="form" (ngSubmit)="login()">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="form-group bmd-form-group text-left">
                                                <label class="bmd-label-floating montserrat-regular text-dark">Email</label>
                                                <input formControlName="email" name="email" type="email" class="form-control montserrat-regular" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="form-group bmd-form-group text-left">
                                                <label class="bmd-label-floating montserrat-regular text-dark">Contraseña</label>
                                                <input formControlName="password" name="password" type="password" class="form-control montserrat-regular" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <a data-toggle="modal" data-target="#forgotpass" class="pointer text-primary-regular montserrat-regular font-sz-0">¿Se te olvidó tu contraseña?</a>
                                    </div>
                                    <div class="col-12 mt-4">
                                        <button class="btn btn-primary btn-round bg-primary-regular text-capitalize" type="submit">
                                            Iniciar sesión
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 col-md-8 offset-md-2 mt-4 mt-md-5">
                    <div class="row">
                        <div class="col-6">
                            <p class="montserrat-light font-sz-0 text-dark pt-3">
                                Iniciar sesión a través de redes sociales
                            </p>
                        </div>
                        <div class="col-6">
                            <button type="button" (click)="socialLogin('facebook')" class="btn btn-primary btn-fab btn-round bg-primary-regular" type="button">
                                <i class="fab fa-facebook-f"></i>
                            </button>
                            <button type="button" (click)="socialLogin('google')" class="btn btn-primary btn-fab btn-round bg-primary-regular" type="button">
                                <i class="fab fa-google"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="forgotpass" tabindex="-1" role="dialog" aria-labelledby="forgotpassLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form ngNativeValidate #f="ngForm" (ngSubmit)="forgotPassword(f)">
                <div class="modal-header">
                    <h3 class="modal-title montserrat-semibold text-dark pl-3" id="forgotpassLabel">
                        Recuperar contraseña
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <div class="col-12 mb-3">
                        <p class="montserrat-light text-center">
                            Ingresa tu email y te enviaremos un correo con los pasos a seguir
                        </p>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <div class="form-group text-left pt-0">
                                <input placeholder="Email" [ngModel]="emailResetPass" name="email" type="email" class="form-control montserrat-regular">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>