<app-social-feed></app-social-feed>

<section class="container my-5 verify-section">
    <div class="row">
        <app-breadcrumb></app-breadcrumb>
        <div class="col-12">
            <h2 class="m-0 text-left text-dark montserrat-bold">
                Correo electrónico verificado
            </h2>
        </div>
    </div>
    <div class="row py-3 my-5">
        <div class="col-12 text-center my-5">
            <figure>
                <img src="assets/images/ticket-success.svg" width="200" height="200" alt="">
            </figure>
            <h4 class="montserrat-regular text-dark my-4">
                Haz realizado la verificación de tu correo. Ahora podras navegar sin ningún problema por toda nuestra plataforma, inicia tu busqueda <span class="pointer text-primary-regular" [routerLink]="['/busqueda']">aquí</span>
            </h4>
        </div>
    </div>
</section>