<div class="modal fade" id="editeventpersonal" tabindex="-1" role="dialog" aria-labelledby="editEventPersonalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title montserrat-semibold text-dark pl-3" id="editEventPersonalLabel">
                    Actualizar viciny
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <div class="modal-body">
                <div class="col-12 text-center mt-0">
                    <figure class="mb-0">
                        <img *ngIf="imageTemp" [src]="event?.image!=null?event?.image:imageTemp" class="img-circle" width="150" height="150" alt="">
                    </figure>
                </div>
                <div class="col-12 text-center mt-0">
                    <div class="form-group">
                        <label for="exampleFormControlFile1" class="montserrat-regular text-primary-regular pointer">{{ imageText }}</label>
                        <input name="photo" type="file" class="form-control-file" id="exampleFormControlFile1" (change)="onFileSelected($event.target.files[0])">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="m-0 p-0 montserrat-light font-sz-0">Nombre</label>
                        <div class="form-group text-left pt-0">
                            <input placeholder="Nombre" [(ngModel)]="event.name" name="name" type="text" class="form-control montserrat-regular my-file">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="m-0 p-0 montserrat-light font-sz-0">Organizador</label>
                                <div class="form-group text-left pt-0">
                                    <input placeholder="Organizador" [(ngModel)]="event.organizer" name="organizer" type="text" class="form-control montserrat-regular my-file">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="m-0 p-0 montserrat-light font-sz-0">Dirección</label>
                                <div class="form-group text-left pt-0">
                                    <input placeholder="Ubicación" [(ngModel)]="event.address" name="address" type="text" class="form-control montserrat-regular my-file">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <label class="m-0 p-0 montserrat-light font-sz-0">Nº Tickets</label>
                            <div class="form-group text-left pt-1">
                                <input placeholder="Cantidad de tickets" [(ngModel)]="event.tickets" name="tickets" type="number" class="my-file form-control montserrat-regular" required>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="m-0 p-0 montserrat-light font-sz-0">Precio ($)</label>
                            <div class="form-group text-left pt-1">
                                <input placeholder="Valor del ticket" [(ngModel)]="event.ticket_value" name="ticket_value" type="number" class="my-file form-control montserrat-regular" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <label class="m-0 p-0 montserrat-light font-sz-0">Descripción</label>
                    <div class="form-group text-left pt-1">
                        <textarea placeholder="Descripción" class="my-file form-control montserrat-regular text-dark" [(ngModel)]="event.description" name="description" rows="2"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="update()" class="btn btn-primary roboto-bold text-capitalize" data-dismiss="modal">Actualizar</button>
                <button type="button" class="btn btn-secondary roboto-bold text-capitalize" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>