<app-social-feed></app-social-feed>

<section class="container my-5 terms-section">
    <div class="row">
        <app-breadcrumb></app-breadcrumb>
        <div class="col-12">
            <h2 class="m-0 text-left text-dark montserrat-bold">
                Terminos y condiciones
            </h2>
        </div>
    </div>
    <div class="row py-3 mb-3">
        <div class="col-12">
            <h4 class="montserrat-bold">
                INFORMACIÓN RELEVANTE
            </h4>
            <p class="montserrat-regular">
                Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios así como la compra de nuestros productos implicará
                que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento. Todas los productos que son ofrecidos por nuestro sitio web pudieran ser creadas, cobradas, enviadas o presentadas por una página web tercera y en
                tal caso estarían sujetas a sus propios Términos y Condiciones. En algunos casos, para adquirir un producto, será necesario el registro por parte del usuario, con ingreso de datos personales fidedignos y definición de una contraseña.
            </p>
            <p class="montserrat-regular">
                El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en cualquier momento, en caso de que se haya registrado y que sea necesario para la compra de alguno de nuestros productos. <span class="text-primary-regular">Viciny</span>                no asume la responsabilidad en caso de que entregue dicha clave a terceros.
            </p>
            <p class="montserrat-regular">
                Todas las compras y transacciones que se lleven a cabo por medio de este sitio web, están sujetas a un proceso de confirmación y verificación, el cual podría incluir la verificación del stock y disponibilidad de producto, validación de la forma de pago,
                validación de la factura (en caso de existir) y el cumplimiento de las condiciones requeridas por el medio de pago seleccionado. En algunos casos puede que se requiera una verificación por medio de correo electrónico.
            </p>
            <p class="montserrat-regular">
                Los precios de los productos ofrecidos en esta Tienda Online es válido solamente en las compras realizadas en este sitio web.
            </p>
            <h4 class="montserrat-bold">
                LICENCIA
            </h4>
            <p class="montserrat-regular">
                <span class="text-primary-regular">Viciny</span> a través de su sitio web concede una licencia para que los usuarios utilicen los productos que son vendidos en este sitio web de acuerdo a los Términos y Condiciones que se describen en
                este documento.
            </p>
            <h4 class="montserrat-bold">
                PROPIEDAD
            </h4>
            <p class="montserrat-regular">
                Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros productos, modificado o sin modificar. Todos los productos son propiedad de los proveedores del contenido. En caso de que no se especifique lo contrario, nuestros productos
                se proporcionan sin ningún tipo de garantía, expresa o implícita. En ningún esta compañía será responsables de ningún daño incluyendo, pero no limitado a, daños directos, indirectos, especiales, fortuitos o consecuentes u otras pérdidas
                resultantes del uso o de la imposibilidad de utilizar nuestros productos.
            </p>
            <h4 class="montserrat-bold">
                POLÍTICA DE REEMBOLSO Y GARANTÍA
            </h4>
            <p class="montserrat-regular">
                En el caso de productos que sean mercancías irrevocables no-tangibles, no realizamos reembolsos después de que se envíe el producto, usted tiene la responsabilidad de entender antes de comprarlo. Le pedimos que lea cuidadosamente antes de comprarlo. Hacemos
                solamente excepciones con esta regla cuando la descripción no se ajusta al producto. Hay algunos productos que pudieran tener garantía y posibilidad de reembolso pero este será especificado al comprar el producto. En tales casos la garantía
                solo cubrirá fallas de fábrica y sólo se hará efectiva cuando el producto se haya usado correctamente. La garantía no cubre averías o daños ocasionados por uso indebido. Los términos de la garantía están asociados a fallas de fabricación
                y funcionamiento en condiciones normales de los productos y sólo se harán efectivos estos términos si el equipo ha sido usado correctamente. Esto incluye: – De acuerdo a las especificaciones técnicas indicadas para cada producto. – En
                condiciones ambientales acorde con las especificaciones indicadas por el fabricante. – En uso específico para la función con que fue diseñado de fábrica.
            </p>
            <h4 class="montserrat-bold">
                PRIVACIDAD
            </h4>
            <p class="montserrat-regular">
                Este sitio web <span class="text-primary-regular">Viciny</span> garantiza que la información personal que usted envía cuenta con la seguridad necesaria. Los datos ingresados por usuario o en el caso de requerir una validación de los pedidos
                no serán entregados a terceros, salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos legales.
                <span class="text-primary-regular">Viciny</span> reserva los derechos de cambiar o de modificar estos términos sin previo aviso.
            </p>
        </div>
    </div>
</section>