.bg-login {
    background-image: url('../../../assets/images/bg-register.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.div-login {
    margin-top: 20%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

@media (min-width: 576px) {}

@media (max-width: 575px) {
    .bg-login {
        background-position: bottom;
        height: 20vh;
        padding: 0px;
    }
    .div-login {
        margin-top: 0px;
    }
    h2 {
        font-size: 2rem;
    }
}