<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3 bg-login pt-5 text-center pointer" [routerLink]="['/inicio']">
            <figure>
                <img src="assets/images/name.svg" alt="Logo Viciny">
            </figure>
        </div>
        <div class="col-12 col-md-9">
            <div class="row mt-5 pr-0 pr-md-5">
                <div class="col-12 text-center text-md-right">
                    <p class="montserrat-regular text-dark">
                        ¿Ya tienes una cuenta? <a [routerLink]="['/login']" class="text-primary-regular">Inicia sesión</a>
                    </p>
                </div>
            </div>
            <div class="row div-login">
                <div class="col-10 offset-1 col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h2 class="montserrat-semibold text-center text-md-left text-dark">
                                Bienvenido. ¡Ingresa tus datos en este formulario para permanecer a bordo!
                            </h2>
                        </div>
                        <div class="col-12 col-md-6">
                            <form class="form" ngNativeValidate [formGroup]="form" (ngSubmit)="register()">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="form-group bmd-form-group text-left">
                                                <label class="bmd-label-floating montserrat-regular text-dark">Nombre de usuario</label>
                                                <input formControlName="name" name="name" type="text" class="form-control montserrat-regular" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="form-group bmd-form-group text-left">
                                                <label class="bmd-label-floating montserrat-regular text-dark">Email</label>
                                                <input formControlName="email" name="email" type="email" class="form-control montserrat-regular" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="form-group bmd-form-group text-left">
                                                <label class="bmd-label-floating montserrat-regular text-dark">Confirmar email</label>
                                                <input formControlName="email_confirmation" name="email_confirmation" type="email" class="form-control montserrat-regular" required>
                                            </div>
                                        </div>
                                        <div class="mb-3" *ngIf="form.errors?.verifyEmail && !form.pristine">
                                            <span class="text-dark montserrat-regular">
                                                Las correos no son iguales <i class="fas fa-exclamation-triangle text-danger"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="form-group bmd-form-group text-left">
                                                <label class="bmd-label-floating montserrat-regular text-dark">Contraseña</label>
                                                <input formControlName="password" name="password" type="password" class="form-control montserrat-regular" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="form-group bmd-form-group text-left">
                                                <label class="bmd-label-floating montserrat-regular text-dark">Confirmar contraseña</label>
                                                <input formControlName="password_confirmation" name="password_confirmation" type="password" class="form-control montserrat-regular" required>
                                            </div>
                                        </div>
                                        <div class="mb-3" *ngIf="form.errors?.verifyPass && !form.pristine">
                                            <span class="text-dark montserrat-regular">
                                                Las contraseñas no son iguales <i class="fas fa-exclamation-triangle text-danger"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <span class="text-dark montserrat-regular font-sz-0">Al presionar en Registrarse, aceptas los <a [routerLink]="['/terminos-y-condiciones']" class="text-primary-regular montserrat-regular font-sz-0">Términos de servicio</a> y la <a [routerLink]="['/politicas-de-privacidad']" class="text-primary-regular montserrat-regular font-sz-0">Politica de privacidad</a></span>
                                    </div>
                                    <div class="col-12 mt-4">
                                        <button class="btn btn-primary btn-round bg-primary-regular text-white text-capitalize" type="submit">
                                            Regístrate
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>