<section class="container my-5 adminusers-section">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="m-0 text-left text-dark montserrat-bold">
                Lista de usuarios
            </h2>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="table-responsive">
                <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
            </div>
        </div>
    </div>
</section>
<app-modal-edit-user [user]="user" (sendUser)="editUser($event)"></app-modal-edit-user>