<section class="welcome-first">
    <div class="container-fluid px-5">
        <div class="row init-top">
            <div class="col-6 parent-vertical">
                <div class="child-vertical">
                    <h3 class="montserrat-semibold text-light m-0">
                        Haz lo que
                    </h3>
                    <h1 class="montserrat-bold text-light m-0">
                        Apasiona
                    </h1>
                </div>
                <div class="button-create-movil text-center pointer" [routerLink]="['/crear-viciny']">
                    <p class="m-0 mb-2">
                        <i class="fas fa-plus fa-2x"></i>
                    </p>
                    <p class="m-0 montserrat-regular font-sz-2">
                        Crear
                    </p>
                    <p class="m-0 montserrat-regular font-sz-2">
                        viciny
                    </p>
                </div>
            </div>
            <div class="col-6">
                <div class="row parent-vertical w-100 m-0 social-network">
                    <div class="col-12 child-vertical pr-0">
                        <div class="row">
                            <div class="col-12 my-3 h-100">
                                <div class="social-network-v float-right">
                                    <a class="text-dark montserrat-regular font-sz-0" href="https://www.facebook.com/vicinyapp" target="_blank">
                                        Facebook
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 my-3 h-100">
                                <div class="social-network-v float-right">
                                    <a class="text-dark montserrat-regular font-sz-0" href="https://www.instagram.com/vicinyapp" target="_blank">
                                        Instagram
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 my-3 h-100">
                                <div class="social-network-v float-right">
                                    <a class="text-dark montserrat-regular font-sz-0" href="https://twitter.com/vicinyapp" target="_blank">
                                        Twitter
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row welcome-carousel">
        <div class="col-12 col-md-4 button-create-event">
            <div class="row button-create-container">
                <div class="col-12 col-sm-8 col-md-6 col-lg-6 offset-lg-3 offset-md-3 offset-sm-2">
                    <div class="text-center button-create-box">
                        <span class="pointer" [routerLink]="['/crear-viciny']">
                            <p class="m-0 mb-3">
                                <i class="fas fa-plus fa-2x"></i>
                            </p>
                            <p class="m-0 montserrat-regular font-sz-3">
                                Crear
                            </p>
                            <p class="m-0 montserrat-regular font-sz-3">
                                viciny
                            </p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 h-100" *ngIf="eventsPopular.length>0">
            <div id="carouselExampleIndicators" class="carousel slide h-100" data-ride="carousel">
                <div class="carousel-inner h-100">
                    <div class="carousel-item h-100 pointer" [ngClass]="{active :  i===0 }" *ngFor="let event of eventsPopular;let i = index" [routerLink]="['/viciny',event.id]">
                        <div class="row h-100">
                            <div class="col-12 col-md-8 p-0 h-100">
                                <figure class="m-0 h-100">
                                    <img class="w-100 h-100 image-popular" [src]="event.image?event.image:'assets/images/no-image.png'" alt="First slide">
                                </figure>
                                <span class="view-more-movil bg-primary-bold">
                                    <a [routerLink]="['/viciny',event.id]"
                                        class="montserrat-semibold text-white pointer">
                                        Ver viciny
                                    </a>
                                </span>
                            </div>
                            <div class="col-12 col-md-4 p-0 bg-carousel-info details-event-movil">
                                <h4 class="montserrat-regular text-light pl-4 pt-3">
                                    {{event.type_event.name}}
                                </h4>
                                <h3 class="montserrat-semibold text-light px-4 pt-4 title-event-popular">
                                    {{event.name}}
                                </h3>
                                <p class="montserrat-light font-sz-2 text-light pl-4">
                                    {{event.start_date | date: 'MMMM d, y'}}
                                </p>
                                <p class="pl-4 pt-3">
                                    <a [routerLink]="['/viciny',event.id]" class="montserrat-regular text-light">
                                        <b>Leer más</b>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-center divider-what pt-2 pb-5">
                <h3 class="mb-4 montserrat-bold text-dark">
                    ¿Qué es un Viciny?
                </h3>
                <div class="row parent-vertical-two">
                    <div class="col-12 col-md-6 text-center">
                        <img src="assets/images/stage.svg" width="150" height="150" alt="">
                    </div>
                    <div class="col-12 col-md-6 text-left child-vertical text-dark montserrat-regular">
                        Es todo aquel encuentro social que se realice con ayuda de la plataforma <span class="text-primary-regular"><b>Viciny</b></span> y cuente con un <span class="text-primary-regular"><b>Viciner</b></span>.
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 text-center pt-2 pb-5">
                <h3 class="mb-4 montserrat-bold text-dark">
                    ¿Por qué Viciny?
                </h3>
                <div class="row parent-vertical-two">
                    <div class="col-12 col-md-6 text-left child-vertical text-dark montserrat-regular">
                        <span class="text-primary-regular"><b>Viciny</b></span> te permite gestionar tu evento privado y mantenerte cerca de aquellos que te importan.
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <img src="assets/images/stage.svg" width="150" height="150" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <label for="date" class="montserrat-regular">Quiero salir</label>
                <select id="date" class="form-control montserrat-regular" [(ngModel)]="date" (change)="searchEvent()">
                    <option value ="any_date">Cualquier fecha</option>
                    <option value="today">Hoy</option>
                    <option value="tomorrow">Mañana</option>
                    <option value="this_weekend">Este fin de semana</option>
                    <option value="this_week">Esta semana</option>
                    <option value="next_week">La próxima semana</option>
                    <option value="this_month">Este mes</option>
                    <option value="next_month">El próximo mes</option>
                </select>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <label for="municipality" class="montserrat-regular">En</label>
                <input type="text" class="form-control mt-1 montserrat-regular" id="municipality" (keyup.enter)="searchEvent()" placeholder="Municipio" [(ngModel)]="municipality">
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <label for="type_event" class="montserrat-regular">Me apetece</label>
                <select (change)="searchEvent()" id="type_event" class="form-control montserrat-regular" [(ngModel)]="selectTypeEvent">
                    <option value="todos">Cualquier cosa</option>
                    <option *ngFor="let type of typesEvent" [value]="type.id">{{type.name}}</option>
                </select>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <button (click)="searchEvent()" type="button" class="col-12 col-md-6 col-lg-3 btn btn-primary bg-primary-regular p-3">
                    <figure class="m-0">
                        <i class="fas fa-search font-sz-2"></i>
                    </figure>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="montserrat-semibold">
                Vicinys populares en {{municipality!=''?municipality:'Todo el pais'}}
            </h3>
            <ul class="nav nav-pills nav-pills-primary pl-0" role="tablist">
                <li class="nav-item m-0">
                    <a class="nav-link btn-link pl-0 active montserrat-regular text-left" data-toggle="tab" href="#link1" role="tablist" aria-expanded="true">
                        Todos
                    </a>
                </li>
                <li class="nav-item m-0">
                    <a class="nav-link text-left montserrat-regular" data-toggle="tab" href="#link3" role="tablist" aria-expanded="false">
                        Este fin de semana
                    </a>
                </li>
                <li class="nav-item m-0">
                    <a class="nav-link text-left montserrat-regular" data-toggle="tab" href="#link4" role="tablist" aria-expanded="false">
                        Gratis
                    </a>
                </li>
            </ul>
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="link1" aria-expanded="true">
                    <app-show-events [events]="events"></app-show-events>
                </div>
                <div class="tab-pane" id="link3" aria-expanded="false">
                    <app-show-events [events]="eventsWeekend"></app-show-events>
                </div>
                <div class="tab-pane" id="link4" aria-expanded="false">
                    <app-show-events [events]="eventsFree"></app-show-events>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1 mb-5">
        <div class="col-12 text-center">
            <a [routerLink]="['/busqueda']" class="btn btn-primary roboto-regular text-capitalize">Ver más vicinys</a>
        </div>
    </div>
</section>