/*SECTION WELCOME*/

.welcome-first {
    height: 100vh;
    background-image: url('../../../assets/images/bg-home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-popular {
    object-fit: fill;
    background-color: #1E122E;
}

.title-event-popular {
    word-break: break-word;
}

.parent-vertical {
    display: table !important;
    height: 100%;
}

.parent-vertical-two {
    display: table !important;
}

.child-vertical {
    display: table-cell !important;
    vertical-align: middle;
}

.init-top {
    height: 60vh;
    padding-top: 60px;
}

.social-network-v {
    writing-mode: vertical-lr;
}

.button-create-movil {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -50px;
    padding: 20px 35px;
    /*background-color: rgba(60, 60, 60, 0.3);*/
    background-color: #f6f5ffde;
    border-radius: 25px;
    font-size: 24px;
}

.button-create-movil p {
    color: rgb(60, 60, 60);
}

.button-create-container {
    padding-top: 25%;
}

.button-create-box {
    padding: 45px 20px;
    border-radius: 25px;
    /*background-color: rgba(60, 60, 60, 0.15);*/
    background-color: #f6f5ffde;
    color: rgb(80, 80, 80);
    font-size: 24px;
}


/*SECTION CAROUSEL*/

.welcome-carousel {
    height: 40vh;
}

.view-more-movil {
    position: absolute;
    top: 0;
    padding: 15px;
    left: 15px;
    border-bottom-right-radius: 10px;
}

.style-next-prev {
    width: 100%;
    position: absolute;
    bottom: 25px;
}

.carousel-prev {
    width: 50%;
    display: inline-block;
    text-align: -webkit-center;
    color: white;
}

.carousel-next {
    width: 50%;
    display: inline-block;
    text-align: -webkit-center;
    color: white;
}

.bg-carousel-info {
    background-color: #1e122ecc;
}


/*SECTION WHAT*/

.divider-what {
    border-right: 0.4px solid rgba(0, 0, 0, 0.5);
}


/*SECTION EVENTS*/

.border-radius-2x {
    border-radius: 16px;
}

.flex-end {
    align-items: flex-end;
}

.share-btn-event {
    position: absolute;
    bottom: 18px;
    right: 18px;
}

.info-event {
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
}

@media (min-width: 576px) {
    .button-create-event,
    .details-event-movil {
        display: block;
    }
    .view-more-movil,
    .button-create-movil {
        display: none !important;
    }
    .carousel-control-next {
        right: -40px;
    }
    .carousel-control-prev {
        left: -40px;
    }
}

@media (min-width: 768px) {
    .button-create-container {
        padding-top: 45%;
    }
    .button-create-box {
        padding: 25px 20px;
    }
}

@media (min-width: 1024px) {
    .button-create-container {
        padding-top: 25%;
    }
    .button-create-box {
        padding: 40px 20px;
    }
}

@media (min-width: 1440px) {
    .button-create-container {
        padding-top: 15%;
    }
    .button-create-box {
        padding: 50px 20px;
    }
}

@media (min-width: 2560px) {
    .button-create-container {
        padding-top: 5%;
    }
    .button-create-box {
        padding: 70px 20px;
    }
}

@media (max-width: 575px) {
    .button-create-event,
    .details-event-movil {
        display: none !important;
    }
    .view-more-movil,
    .button-create-movil {
        display: block !important;
    }
    .carousel-control-prev,
    .carousel-control-next {
        right: 0px;
    }
}

@media (max-width: 765px) {
    .button-create-event,
    .button-create-container {
        display: none !important;
    }
    .details-event-movil {
        display: none !important;
    }
    .view-more-movil,
    .button-create-movil {
        display: block !important;
    }
    .social-network {
        padding-top: 80px;
        display: none !important;
    }
}

@media (max-height: 720px) {
    .button-create-container {
        padding-top: 20px;
    }
}

@media (max-height: 820px) {
    .social-network {
        display: none !important;
    }
}