<header>
    <div id="navbar" class="px-5 pt-4">
        <a class="float-left">
            <figure class="m-0 p-0 pt-3 pointer" [routerLink]="['/inicio']">
                <img src="assets/images/{{image}}" alt="Logo Viciny" class="img-fluid">
            </figure>
        </a>
        <a class="dropdown movile-heads mt-4 pointer" (click)="openDropdown()" *ngIf="isLogin">
            <img [src]="imageProfile" width="30" height="30" alt="Avatar" style="border-radius: 50%;"><span class="dropbtn montserrat-regular text-dark"> {{user!=null?user.name:''}} <i class="fas fa-sort-down"></i></span>
            <div id="myDropdown" class="dropdown-content">
                <a [routerLink]="['/perfil-de-usuario']" class="montserrat-regular text-dark" *ngIf="user.email_verified_at!=null">Perfil de usuario</a>
                <a [routerLink]="['/lista-de-usuarios']" class="montserrat-regular text-dark" *ngIf="isAdmin">Lista de usuarios</a>
                <a (click)="logout()" class="montserrat-regular text-dark">Cerrar sesión</a>
            </div>
        </a>
        <a *ngIf="!isLogin" class="movile-heads mt-4 montserrat-regular text-dark button-auth btn btn-secondary btn-round text-capitalize" [routerLink]="['/login']">Iniciar sesión</a>
        <a *ngIf="isLogin&&user.email_verified_at!=null" class="movile-heads mt-4 montserrat-regular text-dark" [routerLink]="['/mis-llaves']">Mis llaves</a>
        <a *ngIf="isLogin&&user.email_verified_at!=null" class="movile-heads mt-4 montserrat-regular text-dark" [routerLink]="['/mis-favoritos']">Favoritos</a>
        <a *ngIf="isLogin&&user.email_verified_at!=null" class="movile-heads mt-4 montserrat-regular text-dark" [routerLink]="['/mis-vicinys']">Mis vicinys</a>
        <a class="movile-heads mt-4 montserrat-regular text-dark pointer" [routerLink]="['/inicio']">Inicio</a>
        <a (click)="openNav()" class="mt-4 pointer movile-bars">
            <i class="fas fa-bars font-sz-3"></i>
        </a>
    </div>
    <!--SIDEBAR-->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a class="montserrat-regular" [routerLink]="['/inicio']">Inicio</a>
        <hr>
        <a *ngIf="isLogin&&user.email_verified_at!=null" class="montserrat-regular" [routerLink]="['/mis-vicinys']">Mis vicinys</a>
        <a *ngIf="isLogin&&user.email_verified_at!=null" class="montserrat-regular" [routerLink]="['/mis-favoritos']">Favoritos</a>
        <a *ngIf="isLogin&&user.email_verified_at!=null" class="montserrat-regular" [routerLink]="['/mis-llaves']">Mis llaves</a>
        <a *ngIf="!isLogin" class="montserrat-regular" [routerLink]="['/login']">Iniciar sesión</a>
        <hr>
        <a *ngIf="isLogin&&user.email_verified_at!=null" class="montserrat-regular" [routerLink]="['/perfil-de-usuario']">Perfil de usuario</a>
        <a *ngIf="isAdmin" class="montserrat-regular" [routerLink]="['/lista-de-usuarios']">Lista de usuarios</a>
        <hr>
        <a *ngIf="isLogin" class="montserrat-regular pointer" (click)="logout()">Cerrar sesión</a>
    </div>
</header>