.button-auth {
    border: 1.5px solid rgb(104, 107, 109);
    background-color: transparent;
    padding: 10px 26px;
}

.button-auth:hover {
    border: 1.5px solid rgb(104, 107, 109);
    background-color: transparent;
}

.fixed-top {
    position: absolute !important;
}

.nav-item {
    background-color: transparent !important;
}

.nav-item:hover {
    background-color: transparent !important;
}


/*SIDENAV*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1100;
    top: 0;
    right: 0;
    background-color: #1e122c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 9px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
}


/*NAVBAR*/

#navbar {
    /*background-color: #333;*/
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 1000;
}

#navbar a {
    float: right;
    display: block;
    color: #343a40;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}


/*DROPDOWN*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.dropdown-content a {
    /*color: black;*/
    text-decoration: none;
    width: 100%;
    display: block !important;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

@media (max-width: 765px) {
    .movile-heads {
        display: none !important;
    }
    .movile-bars {
        display: block !important;
    }
}

@media (min-width: 765px) {
    .movile-bars {
        display: none !important;
    }
    .movile-heads {
        display: block !important;
    }
}