.profile-section {
    padding-top: 150px;
}

.my-file::-webkit-input-placeholder {
    color: #343a40;
}

.img-circle {
    border-radius: 50%;
}

.my-file:-moz-placeholder {
    /* Firefox 18- */
    color: #343a40;
}

.my-file::-moz-placeholder {
    /* Firefox 19+ */
    color: #343a40;
}

.my-file:-ms-input-placeholder {
    color: #343a40;
}