<app-social-feed></app-social-feed>

<section class="container my-5 profile-section">
    <div class="row">
        <app-breadcrumb></app-breadcrumb>
        <div class="col-12">
            <h2 class="m-0 text-left text-dark montserrat-bold">
                Actualizar perfil
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form class="form" ngNativeValidate [formGroup]="form" (ngSubmit)="update()">
                <div class="row">
                    <div class="col-12 text-center mt-3">
                        <figure class="mb-0">
                            <img *ngIf="imageTemp" [src]="imageTemp" class="img-circle" width="200" height="200" alt="">
                        </figure>
                    </div>
                    <div class="col-12 text-center">
                        <div class="form-group">
                            <label for="exampleFormControlFile1" class="montserrat-regular text-primary-regular">{{ imageText }}</label>
                            <input name="photo" type="file" class="form-control-file" id="exampleFormControlFile1" (change)="onFileSelected($event)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="form-group text-left">
                                        <input placeholder="Nombre" formControlName="name" name="name" type="text" class="my-file form-control montserrat-regular">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group pt-1">
                                    <select class="form-control montserrat-regular text-dark" formControlName="type_document" name="type_document" title="Tipo de documento" data-style="select-with-transition" id="type_event">
                                        <option value="">Seleccione el tipo de documento...</option>
                                        <option value="cc">Cedula de ciudadania</option>
                                        <option value="ti">Tarjeta de identidad</option>
                                        <option value="tp">Pasaporte</option>
                                        <option value="rc">Registro civil</option>
                                        <option value="ce">Cedula de extranjeria</option>
                                        <option value="ci">Carne de identidad</option>
                                        <option value="dni">Documento unico de identidad</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="form-group text-left pt-0">
                                        <input placeholder="Nº de documento" formControlName="nit" name="document" type="text" class="my-file form-control montserrat-regular">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="form-group text-left pt-3">
                                        <input placeholder="Teléfono" formControlName="phone" name="phone" type="number" class="my-file form-control montserrat-regular">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <div class="form-group text-left pt-3">
                                        <input placeholder="Nombre de banco" formControlName="bank_name" name="bank_name" type="text" class="my-file form-control montserrat-regular">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <div class="form-group text-left pt-3">
                                        <input placeholder="Cuenta bancaria" formControlName="account_bank" name="account_bank" type="number" class="my-file form-control montserrat-regular">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group pt-1">
                                    <select class="form-control montserrat-regular text-dark" name="department" formControlName="department_id" title="Tipo de documento" data-style="select-with-transition" id="department" (change)="loadMunicipalities($event.target.value)">
                                        <option value="">Seleccione el deparamento...</option>
                                        <option *ngFor="let item of deparments" [value]="item.id">
                                            {{item.name | titlecase}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group pt-1">
                                    <select class="form-control montserrat-regular text-dark" formControlName="municipality_id" name="municipality" title="Tipo de documento" data-style="select-with-transition" id="municipality">
                                        <option value="">Seleccione el municipio...</option>
                                        <option *ngFor="let item of municipalities" [value]="item.id">{{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <div class="form-group text-left pt-3">
                                        <input placeholder="Dirección" formControlName="address" name="address" type="text" class="my-file form-control montserrat-regular">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row pt-2 pt-md-5">
                            <div class="col-12">
                                <p class="montserrat-semibold">
                                    Selecciona los tipos de vicinys que más te gustan!
                                </p>
                            </div>
                            <div class="col-12 col-md-6 my-2" *ngFor="let typeEvent of typesEvent">
                                <div class="form-check">
                                    <label class="form-check-label montserrat-regular text-dark font-sz-2">
                                        <input class="form-check-input"
                                        type="checkbox"
                                        name = "typesEvetns"
                                        id = "favoriteTypeEvent_{{typeEvent.id}}"
                                        [value]="typeEvent.id">
                                        {{typeEvent.name}}
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mt-4 pl-0">
                            <button [disabled]="form.invalid" class="col-12 col-md-2 btn btn-default btn-round bg-primary-regular text-inherit roboto-bold">Actualizar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>