<div class="row">
  <div class="col-12 col-md-6">
    <button type="button" (click)="listTickes()" class="btn btn-primary" title="Ver llaves">
      <i class="fas fa-calendar-week font-sz-1"></i>
    </button>
  </div>
  <div class="col-12 col-md-6">
    <button type="button" (click)="deleteEvent()" class="btn btn-danger" title="Eliminar pedido">
      <i class="fas fa-trash font-sz-1 "></i>
    </button>
  </div>
</div>