<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/inicio']" class="montserrat-regular text-gray">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a class="montserrat-regular text-primary-regular">{{title}}</a>
        </li>
    </ol>
</nav>