<section *ngIf="!isLogin">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 text-center">
            <div class="card py-3">
                <div class="card-body">
                    <h3 class="card-title montserrat-bold">
                        ¡Descubre los mejores vicinies, seleccionados exclusivamente para ti!
                    </h3>
                    <p class="card-text montserrat-regular pt-3">
                        Sigue la pista a los vicinies que te han gustado o de tus organizadores favoritos cuando inicies sesión
                    </p>
                    <a [routerLink]="['/login']" class="card-link montserrat-semibold font-sz-3 text-primary-regular">
                        Inicia sesión aquí
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>