.text-primary-bold {
    color: #1E122E !important;
}

.bg-primary-bold {
    background-color: #1e122c !important;
}

.text-primary-regular {
    color: #5724A1 !important;
}

.bg-primary-regular {
    background-color: #5724A1 !important;
}

.text-primary-light {
    color: #8A75AE !important;
}

.bg-primary-light {
    background-color: #8A75AE !important;
}

.text-facebook {
    color: #1877f2;
}

.bg-facebook {
    background-color: #1877f2;
}

.text-instagram {
    color: #c32aa3;
}

.bg-instagram {
    background-color: #c32aa3;
}

.text-twitter {
    color: #1da1f2;
}

.bg-twitter {
    background-color: #1da1f2;
}