/*MONTSERRAT*/

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.ttf');
}

.montserrat-bold {
    font-family: 'Montserrat-Bold' !important;
}

.montserrat-semibold {
    font-family: 'Montserrat-SemiBold' !important;
}

.montserrat-regular {
    font-family: 'Montserrat-Regular' !important;
}

.montserrat-light {
    font-family: 'Montserrat-Light' !important;
}


/*ROBOTO*/

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf');
}

.roboto-bold {
    font-family: 'Roboto-Bold' !important;
}

.roboto-regular {
    font-family: 'Roboto-Regular' !important;
}

.roboto-light {
    font-family: 'Roboto-Light' !important;
}


/*TAMANIOS*/

.font-sz-0x {
    font-size: 0.6rem !important;
}

.font-sz-0 {
    font-size: 0.8rem !important;
}

.font-sz-1 {
    font-size: 1rem !important;
}

.font-sz-2 {
    font-size: 1.2rem !important;
}

.font-sz-3 {
    font-size: 1.4rem !important;
}

.font-sz-4 {
    font-size: 1.6rem !important;
}

.font-sz-5 {
    font-size: 1.8rem !important;
}

.font-sz-6 {
    font-size: 2rem !important;
}

.font-sz-7 {
    font-size: 2.2rem !important;
}

.font-sz-8 {
    font-size: 2.4rem !important;
}

.font-sz-9 {
    font-size: 2.6rem !important;
}

.font-sz-10 {
    font-size: 2.8rem !important;
}