<div class="row">
    <div class="col-12 col-md-4">
        <button type="button" (click)="listEvents()" rel="tooltip" class="btn btn-primary btn-sm" title="ver eventos">
        <i class="fas fa-calendar-week font-sz-1"></i>
      </button>
    </div>
    <div class="col-12 col-md-4">
        <button type="button" (click)="editUser()" rel="tooltip" class="btn btn-warning btn-sm" title="Editar usuario" data-toggle="modal" data-target="#edituser">
        <i class="fas fa-edit font-sz-1"></i>
      </button>
    </div>
    <div class="col-12 col-md-4">
        <button type="button" (click)="deleteUser()" rel="tooltip" class="btn btn-danger btn-sm" title="Eliminar usuario">
        <i class="fas fa-trash font-sz-1"></i>
      </button>
    </div>
</div>