.social-network-position {
    top: 10px;
    right: 10px;
    padding-top: 150px;
}

.social-network-v {
    writing-mode: vertical-lr;
}

@media (min-width: 576px) {
    .social-network-position {
        display: block;
    }
}

@media (max-width: 575px) {
    .social-network-position {
        display: none !important;
    }
}