<div class="row position-absolute social-network-position pr-3">
    <div class="col-4 text-right">
        <div class="row my-4">
            <div class="col-12">
                <div class="social-network-v float-right">
                    <a class="text-dark montserrat-regular font-sz-0" href="https://www.facebook.com/vicinyapp" target="_blank">
                      Facebook
                  </a>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <div class="social-network-v float-right">
                    <a class="text-dark montserrat-regular font-sz-0" href="https://www.instagram.com/vicinyapp" target="_blank">
                      Instagram
                  </a>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <div class="social-network-v float-right">
                    <a class="text-dark montserrat-regular font-sz-0" href="https://twitter.com/vicinyapp" target="_blank">
                      Twitter
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>