<div class="row">
    <div class="col-12 col-md-4">
        <button type="button" (click)="deleteTicket()" class="btn btn-danger btn-sm" title="Eliminar ticket">
      <i class="fas fa-trash font-sz-1"></i>
    </button>
    </div>
</div>