<app-social-feed></app-social-feed>

<section class="container my-5 favorites-section">
    <div class="row">
        <app-breadcrumb></app-breadcrumb>
        <div class="col-12">
            <h2 class="m-0 text-left text-dark montserrat-bold">
                Mis Favoritos
            </h2>
        </div>
    </div>
    <div class="row my-5" *ngIf="events.length === 0">
        <div class="col-11 col-md-4 offset-md-4 text-center">
            <div class="card py-3">
                <div class="card-body">
                    <figure class="my-3">
                        <img src="assets/images/sad.svg" height="100" width="100" alt="">
                    </figure>
                    <h3 class="card-title montserrat-bold">
                        ¡Actualmente no cuentas con vicinys favoritos, prueba a agregar unos cuantos!
                    </h3>
                    <p class="card-text montserrat-regular pt-3">
                        Agrega los vicinys que tienes pensado asistir a tu lista de favoritos, asi cuando vuelvas a iniciar sesión y estés dispuesto a comprar tus boletos no tienes que volver a buscarlos.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class=" col-12 col-md-4" *ngFor="let event of events;index as i">
            <div class="card rounded-0">
                <div class="position-relative">
                    <div class="position-absolute favorite-delete text-center">
                        <a (click)="deletFavoriteAlert(event.id)" class="pointer" title="Eliminar viciny de favoritos">
                            <div class="favorite-delete-son">
                                <i class="fas fa-trash fa-2x text-primary-regular"></i>
                            </div>
                        </a>
                    </div>
                    <div class="position-absolute favorite-show text-center">
                        <a [routerLink]="['/viciny',event.id]" class="pointer" title="Ver viciny">
                            <div class="favorite-show-son">
                                <i class="fas fa-eye fa-2x text-primary-regular"></i>
                            </div>
                        </a>
                    </div>
                    <img class="card-img-top redimension" [src]="event.image?event.image:'assets/images/no-image.png'" alt="Card image cap">
                    <div class="position-absolute favorite-count text-center father-vertical">
                        <div class="son-vertical montserrat-bold font-sz-1">{{i+1}}</div>
                    </div>
                    <div class="position-absolute favorite-cart text-center bg-primary-regular pt-2">
                        <a data-toggle="modal" (click)="selectEvent(event)" class="pointer">
                            <div class="montserrat-light font-sz-0 text-light montserrat-light pt-1">
                                <i class="fas fa-key text-white font-sz-3"></i> Comprar tickets
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card-body pl-0 details-favorite">
                    <h3 class="montserrat-bold mt-0 text-dark mt-2">
                        {{event.name}}
                    </h3>
                    <p class="montserrat-regular text-gray">
                        <b>Fechas:</b> {{event.finish_date|date:'MMM d, y, h:mm a'}}
                    </p>
                    <p class="montserrat-regular text-gray">
                        <b>Precio:</b> $ {{event.ticket_value | currency:'COP' }} pesos
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-modal-pay [event]="selectedEvent"></app-modal-pay>