<div class="modal fade" id="edituser" tabindex="-1" role="dialog" aria-labelledby="editUserLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title montserrat-semibold text-dark pl-3" id="editUserLabel">
                    Actualizar usuario
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body" *ngIf="user">
                
                <div class="col-12">
                    <div class="form-group">
                        <div class="form-group text-left pt-0">
                            <input placeholder="Nombre" name="name" type="text" class="form-control montserrat-regular my-file" [(ngModel)]="user.name">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="form-group text-left pt-0">
                            <input placeholder="Email" name="email" type="email" class="form-control montserrat-regular my-file" [(ngModel)]="user.email">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <select class="form-control montserrat-regular text-gray" [(ngModel)]="user.type_document">
                              <option value="">Tipo de documento</option>
                                <option value="cc">Cedula de ciudadania</option>
                                <option value="ti">Tarjeta de identidad</option>
                                <option value="tp">Pasaporte</option>
                                <option value="rc">Registro civil</option>
                                <option value="ce">Cedula de extranjeria</option>
                                <option value="ci">Carne de identidad</option>
                                <option value="dni">Documento unico de identidad</option>
                          </select>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group pt-1">
                                <div class="form-group text-left pt-0">
                                    <input placeholder="Nº Documento" name="document" type="number" class="form-control montserrat-regular my-file" [(ngModel)]="user.nit">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group pt-1">
                                <div class="form-group text-left pt-0">
                                    <input placeholder="Teléfono" name="phone" type="number" class="form-control montserrat-regular my-file" [(ngModel)]="user.phone">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group pt-1">
                                <div class="form-group text-left pt-0">
                                    <input placeholder="Nombre de banco" name="bank_name" type="text" class="form-control montserrat-regular my-file" [(ngModel)]="user.bank_name">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="form-group pt-1">
                                <div class="form-group text-left pt-0">
                                    <input placeholder="Cuenta bancaria" name="account_bank" type="number" class="form-control montserrat-regular my-file" [(ngModel)]="user.account_bank">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <select class="form-control montserrat-regular text-gray" [(ngModel)]="user.department_id" (change)="loadMunicipalities($event.target.value)" >
                            <option value="">Departamento</option>
                            <option value="">Seleccione el departamento...</option>
                                <option *ngFor="let item of deparments" [value]="item.id">{{item.name | titlecase}}</option>
                        </select>
                        </div>
                        <div class="col-12 col-md-6">
                            <select class="form-control montserrat-regular text-gray" [(ngModel)]="user.municipality_id">
                              <option value="">Municipio</option>
                              <option *ngFor="let item of municipalities" [value]="item.id">{{item.name}}</option>
                          </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="form-group">
                        <div class="form-group text-left pt-0">
                            <input placeholder="Ubicación" name="address" type="text" class="form-control montserrat-regular my-file" [(ngModel)]="user.address">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="update()" data-dismiss="modal" class="btn btn-primary roboto-bold text-capitalize" *ngIf="user">Actualizar</button>
                <button type="button" class="btn btn-secondary roboto-bold text-capitalize" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>