<app-social-feed></app-social-feed>

<section class="container my-5 new-event-section">
    <div class="row">
        <app-breadcrumb></app-breadcrumb>
        <div class="col-12">
            <h2 class="m-0 text-left text-dark montserrat-bold">
                Crear viciny
            </h2>
        </div>
    </div>
    <!--ngNativeValidate-->
    <form class="form" [formGroup]="form" (ngSubmit)="create()">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group text-left">
                            <input placeholder="Nombre" formControlName="name" name="name" type="text" class="my-file form-control montserrat-regular" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group text-left">
                            <input placeholder="Organizador" formControlName="organizer" name="organizer" type="text" class="my-file form-control montserrat-regular" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group mb-0 mt-1">
                            <select class="form-control montserrat-regular text-dark" (change)="loadMunicipalities($event.target.value)" title="Departamento" name="department_id" data-style="select-with-transition" id="department">
                                <option value="">Seleccione el departamento...</option>
                                <option *ngFor="let item of deparments" [value]="item.id">{{item.name | titlecase}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group mb-0 mt-1">
                            <select class="form-control montserrat-regular text-dark" (change)="setCoordinates()" formControlName="municipality_id" name="municipality_id" title="Municipio" data-style="select-with-transition" id="municipality">
                                <option value="">Seleccione el minucipio...</option>
                                <option *ngFor="let item of municipalities" [value]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group text-left pt-3">
                            <input placeholder="Dirección" id="address" formControlName="address" (keyup)="setCoordinates()" name="address" type="text" class="my-file form-control montserrat-regular" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group text-left pt-1">
                            <input placeholder="Cantidad de tickets" formControlName="tickets" name="tickets" type="number" class="my-file form-control montserrat-regular" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group text-left pt-1">
                            <input placeholder="Valor del ticket ($)" formControlName="ticket_value" name="ticket_value" type="number" class="my-file form-control montserrat-regular" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group pt-0">
                            <input placeholder="Fecha de publicación" maxlength="18" type="text" formControlName="start_date" name="start_date" class="my-file montserrat-regular form-control datetimepicker" id="start_date" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group pt-0">
                            <input placeholder="Fecha del viciny" maxlength="18" type="text" formControlName="finish_date" name="finish_date" class="my-file montserrat-regular form-control datetimepicker" id="finish_date" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group mb-0 mt-1">
                            <select class="form-control montserrat-regular text-dark" formControlName="type_event_id" name="type_event_id" title="Tipo de evento" data-style="select-with-transition" id="type_event">
                                <option value="">Seleccione el tipo de evento...</option>
                                <option *ngFor="let item of typeEvents" [value]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group text-left pt-1">
                            <textarea placeholder="Descripción" class="my-file form-control montserrat-regular text-dark" formControlName="description" name="description" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="col-12 text-center mt-3">
                    <figure class="mb-0">
                        <img *ngIf="imageTemp" [src]="imageTemp" width="200" height="200" alt="">
                    </figure>
                </div>
                <div class="col-12 text-center">
                    <div class="form-group">
                        <label for="exampleFormControlFile1" class="montserrat-regular text-primary-regular">{{ imageText }}</label>
                        <input name="photo" type="file" class="form-control-file" id="exampleFormControlFile1" (change)="onFileSelected($event)">
                    </div>
                </div>
                <div class="col-12 text-center mt-3">
                    <label class="montserrat-bold text-dark">Agrega la ubicación en el mapa</label>
                    <div id="mapevent" class="map-event bg-primary-bold mt-2"></div>
                </div>
            </div>
            <div class="col-12">
                <div class="col-12">
                    <div class="mt-4 pl-0">
                        <!--[disabled]="form.invalid"-->
                        <button class="col-12 col-md-4 btn btn-default btn-round bg-primary-regular text-inherit roboto-bold">Crear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>