<div class="modal fade" id="editevent" tabindex="-1" role="dialog" aria-labelledby="editEventLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title montserrat-semibold text-dark pl-3" id="editEventLabel">
                    Actualizar viciny
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body" *ngIf="event">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group text-left">
                            <input placeholder="Nombre" [(ngModel)]="event.name" name="name" type="text" class="my-file form-control montserrat-regular" >
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group text-left">
                            <input placeholder="Organizador" [(ngModel)]="event.organizer" name="organizer" type="text" class="my-file form-control montserrat-regular" >
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group mb-0 mt-1">
                            <select class="form-control montserrat-regular text-dark" [(ngModel)]="event.department_id" (change)="loadMunicipalities($event.target.value)" title="Departamento" name="department_id" data-style="select-with-transition" id="department">
                                <option value="">Seleccione el departamento...</option>
                                <option *ngFor="let item of deparments" [value]="item.id">{{item.name | titlecase}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group mb-0 mt-1">
                            <select class="form-control montserrat-regular text-dark" [(ngModel)]="event.municipality_id" name="municipality_id" title="Municipio" data-style="select-with-transition" id="municipality">
                                <option value="">Seleccione el minucipio...</option>
                                <option *ngFor="let item of municipalities" [value]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group text-left pt-3">
                            <input placeholder="Dirección" [(ngModel)]="event.address" name="address" type="text" class="my-file form-control montserrat-regular" >
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group text-left pt-1">
                            <input placeholder="Cantidad de tickets" [(ngModel)]="event.tickets" name="tickets" type="number" class="my-file form-control montserrat-regular" >
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group text-left pt-1">
                            <input placeholder="Valor del ticket" [(ngModel)]="event.ticket_value" name="ticket_value" type="number" class="my-file form-control montserrat-regular" >
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group pt-0">
                            <input placeholder="Fecha de inicio" type="text" [(ngModel)]="event.start_date" name="start_date" class="my-file montserrat-regular form-control datetimepicker" id="start_date" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group pt-0">
                            <input placeholder="Fecha de finalización" type="text" [(ngModel)]="event.finish_date" name="finish_date" class="my-file montserrat-regular form-control datetimepicker" id="finish_date" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group mb-0 mt-1">
                            <select class="form-control montserrat-regular text-dark" [(ngModel)]="event.type_event_id" name="type_event_id" title="Tipo de evento" data-style="select-with-transition" id="type_event">
                                <option value="">Seleccione el tipo de evento...</option>
                                <option *ngFor="let item of typeEvents" [value]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group text-left">
                            <input placeholder="URL Video" [(ngModel)]="event.url_video" name="url_video" type="text" class="form-control montserrat-regular my-file">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group text-left pt-1">
                            <textarea placeholder="Descripción" class="my-file form-control" [(ngModel)]="event.description" name="description" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="update()" data-dismiss="modal" class="btn btn-primary roboto-bold text-capitalize" *ngIf="event">Actualizar</button>
                <button type="button" class="btn btn-secondary roboto-bold text-capitalize" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>