.father-vertical {
    display: table;
    height: 200px;
}

.son-vertical {
    display: table-cell;
    vertical-align: middle;
}

.card {
    background-color: #eee;
    box-shadow: none;
}

.card-img-top {
    width: 100%;
    height: 300px;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.keys-section {
    padding-top: 150px;
}

.divider-keys {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 575px) {
    .father-vertical {
        display: table;
        height: 100%;
    }
}