<app-social-feed></app-social-feed>

<section class="container my-5 keys-section">
    <div class="row">
        <app-breadcrumb></app-breadcrumb>
        <div class="col-12">
            <h2 class="m-0 text-left text-dark montserrat-bold">
                Mis Llaves
            </h2>
        </div>
    </div>
    <div class="row my-5" *ngIf="tickets.length==0">
        <div class="col-11 col-md-4 offset-md-4 text-center">
            <div class="card py-3">
                <div class="card-body">
                    <figure class="my-3">
                        <img src="assets/images/sad.svg" height="100" width="100" alt="">
                    </figure>
                    <h3 class="card-title montserrat-bold">
                        ¡Actualmente no cuentas con llaves de vicinys compradas, prueba a comprar unas cuantas!
                    </h3>
                    <p class="card-text montserrat-regular pt-3">
                        Animate a comprar tickets de los vicinys a los que siempre has querido ir, no te quedes con las ganas.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 mt-md-5 mb-2 mb-md-3 divider-keys" *ngFor="let ticket of tickets">
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-12 col-md-4 text-center">
                    <figure>
                        <img [src]="'data:image/jpg;base64,'+ticket.code_QR" width="200" height="200" alt="">
                    </figure>
                </div>
                <div class="col-12 col-md-8 text-left father-vertical">
                    <h2 class="montserrat-bold son-vertical text-capitalize">
                        {{ticket.event.name}}
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <p class="text-gray montserrat-regular">{{ticket.event.start_date | date:'EEE, d MMMM , y, h:mm a' }}</p>
            <h3 class="montserrat-semibold text-dark text-uppercase">
                {{ticket.event.type_event.name}}
            </h3>
            <p class="montserrat-regular">
                {{ticket.event.description}}
            </p>
            <button [routerLink]="['/viciny',ticket.event.id]" class="btn btn-default btn-round bg-primary-regular text-inherit roboto-bold font-sz-1 mt-3">
              Detalles
            </button>
        </div>
    </div>
</section>