<app-social-feed></app-social-feed>

<section class="container my-5 scanner-section">
    <div class="row">
        <app-breadcrumb></app-breadcrumb>
        <div class="col-12">
            <h2 class="m-0 text-left text-dark montserrat-bold">
                Scannear ticket
            </h2>
        </div>
    </div>
    <div class="row py-5 my-5">
        <div class="col-12 col-md-3 text-center">
            <zxing-scanner (scanSuccess)="scanSuccessHandler($event)" *ngIf="scanner"></zxing-scanner>
            <button *ngIf="!scanner" class="btn btn-primary roboto-regular text-capitalize" (click)="newScannear()">Scannear ticket</button>
        </div>
        <div class="col-12 col-md-9 text-center">

            <h3 class="text-dark montserrat-semibold">
                {{ event?.name }}
            </h3>
            <h3 class="text-dark montserrat-semibold">
                {{ user?.name }}
            </h3>
            <h3 class="text-dark montserrat-semibold" *ngIf="user">
                Estado:
                <span class="montserrat-regular text-success" *ngIf="state">Valido</span>
                <span class="montserrat-regular text-warning" *ngIf="!state">Usado</span>
            </h3>
        </div>
    </div>
</section>