.father-vertical {
    display: table;
    height: 200px;
}

.son-vertical {
    display: table-cell;
    vertical-align: middle;
}

.favorites-section {
    padding-top: 150px;
}

.redimension {
    object-fit: cover;
}

.card {
    background-color: #eee;
    box-shadow: none;
}

.card-img-top {
    width: 100%;
    height: 300px;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    border-radius: 18px;
    /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);*/
}

.favorite-count {
    width: 50px;
    height: 50px;
    bottom: 0;
    background-color: #eee;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
}

.favorite-delete {
    bottom: 10px;
    right: 10px;
}

.favorite-show {
    bottom: 10px;
    right: 160px;
}

.favorite-key {
    bottom: 10px;
    right: 110px;
}

.favorite-show-son {
    background-color: #eee;
    border-radius: 50%;
    padding-top: 8px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 6px;
}

.favorite-edit {
    bottom: 10px;
    right: 60px;
}

.favorite-edit-son {
    background-color: #eee;
    border-radius: 50%;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 6px;
}

.favorite-delete-son {
    background-color: #eee;
    border-radius: 50%;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
}

.details-favorite {
    height: 150px;
}