<app-social-feed></app-social-feed>

<section class="container my-5 favorites-section">
    <div class="row">
        <app-breadcrumb></app-breadcrumb>
        <div class="col-12">
            <h2 class="m-0 text-left text-dark montserrat-bold">
                Mis Vicinys
            </h2>
            <a class="btn btn-secondary btn-round bg-primary-regular roboto-bold text-capitalize text-white" [routerLink]="['/crear-viciny']">
                Crear viciny
            </a>
            <a class="btn btn-info btn-round roboto-bold text-capitalize text-white" [routerLink]="['/scannear-ticket']">
                Scannear ticket
            </a>
        </div>
    </div>
    <div class="row my-5" *ngIf="events.length === 0">
        <div class="col-12 col-md-4 offset-md-4 text-center">
            <div class="card py-3">
                <div class="card-body">
                    <figure class="my-3">
                        <img src="assets/images/sad.svg" height="100" width="100" alt="">
                    </figure>
                    <h3 class="card-title montserrat-bold">
                        ¡Actualmente no cuentas con vicinys, prueba a crear uno!
                    </h3>
                    <p class="card-text montserrat-regular pt-3">
                        Crea cuantos vicinys quieras, nosotros nos encargaremos de listarlos para que todo el publico sepa de ellos.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-12 col-md-4" *ngFor="let event of events;index as i">
            <div class="card rounded-0">
                <div class="position-relative">
                    <img class="card-img-top redimension" [src]="event.image?event.image:'assets/images/no-image.png'" alt="Card image cap">
                    <div class="position-absolute favorite-show text-center">
                        <a class="pointer" title="Ver viciny" [routerLink]="['/viciny',event.id]">
                            <div class="favorite-show-son">
                                <i class="fas fa-eye fa-2x text-primary-regular"></i>
                            </div>
                        </a>
                    </div>
                    <div class="position-absolute favorite-key text-center">
                        <a class="pointer" (click)="selectEVent(event)" title="Ver tickets" data-toggle="modal" data-target="#showticketspersonal">
                            <div class="favorite-show-son">
                                <i class="fas fa-key fa-2x text-primary-regular"></i>
                            </div>
                        </a>
                    </div>
                    <div class="position-absolute favorite-edit text-center">
                        <a (click)="selectEVent(event)" class="pointer" title="Editar viciny" data-toggle="modal" data-target="#editeventpersonal">
                            <div class="favorite-edit-son">
                                <i class="fas fa-pencil-alt fa-2x text-primary-regular"></i>
                            </div>
                        </a>
                    </div>
                    <div class="position-absolute favorite-delete text-center">
                        <a (click)="deletEventAlert(event.id)" class="pointer" title="Eliminar viciny">
                            <div class="favorite-delete-son">
                                <i class="fas fa-trash fa-2x text-primary-regular"></i>
                            </div>
                        </a>
                    </div>
                    <div class="position-absolute favorite-count text-center father-vertical">
                        <div class="son-vertical montserrat-bold font-sz-1">{{i+1}}</div>
                    </div>
                </div>
                <div class="card-body pl-0 details-favorite">
                    <h3 class="montserrat-bold mt-0 text-dark mt-2">
                        {{event.name}}
                    </h3>
                    <p class="montserrat-regular text-gray">
                        <b>Fechas:</b> {{event.finish_date|date:'MMM d, y, h:mm a'}}
                    </p>
                    <p class="montserrat-regular text-gray">
                        <b>Precio:</b> {{event.ticket_value | currency:'COP' }} pesos
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-modal-edit-personal-event [event]="selectedEvent"></app-modal-edit-personal-event>

<div class="modal fade" id="showticketspersonal" tabindex="-1" role="dialog" aria-labelledby="showTicketsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title montserrat-semibold text-dark pl-3" id="showTicketsLabel">
                    Inventario de llaves
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 mb-3">
                    <h4 class="montserrat-semibold text-dark m-0">
                        Total:
                    </h4>
                    <p class="montserrat-regular text-dark m-0">
                        {{selectedEvent?.tickets}}
                    </p>
                </div>
                <div class="col-12 mb-3">
                    <h4 class="montserrat-semibold text-dark m-0">
                        Vendidos:
                    </h4>
                    <p class="montserrat-regular text-dark m-0">
                        {{selectedEvent?.tickets-selectedEvent?.numberTickets}}
                    </p>
                </div>
                <div class="col-12 mb-3">
                    <h4 class="montserrat-semibold text-dark m-0">
                        Disponibles:
                    </h4>
                    <p class="montserrat-regular text-dark m-0">
                        {{selectedEvent?.numberTickets}}
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary roboto-bold text-capitalize" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>