<div class="modal fade" id="buyticket" tabindex="-1" role="dialog" aria-labelledby="buyticketLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title montserrat-semibold text-dark pl-3" id="buyticketLabel">
                  {{event?.name}}
              </h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          </div>
          <div class="modal-body">
              <div class="col-12 mb-3">
                  <p class="montserrat-light">
                      {{event?.description}}
                  </p>
              </div>
              <div class="col-12 mb-3">
                  <h4 class="montserrat-semibold text-dark m-0">
                      Organizado por:
                  </h4>
                  <p class="montserrat-regular text-dark m-0">
                      {{event?.organizer}}
                  </p>
              </div>
              <div class="col-12 mb-3">
                  <h4 class="montserrat-semibold text-dark m-0">
                      Precio:
                  </h4>
                  <p class="montserrat-regular text-dark m-0">
                      {{event?.ticket_value| currency:'COP' }} pesos
                  </p>
              </div>
              <div class="col-12">
                  <div class="form-group">
                      <div class="form-group text-left pt-0">
                          <input placeholder="Cantidad de tickets" name="quantity" [(ngModel)]="tickes_quantity" type="number" min="1" [max]="event?.tickets" class="form-control montserrat-regular my-file">
                      </div>
                  </div>
              </div>
              <div class="col-12 text-right">
                  <h4 class="montserrat-semibold text-dark">
                      Valor total:
                  </h4>
                  <p class="montserrat-regular text-dark">
                      {{tickes_quantity*event?.ticket_value| currency:'COP' }} pesos
                  </p>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" (click)="buy()" data-dismiss="modal" class="btn btn-primary roboto-bold text-capitalize">Comprar</button>
              <button type="button" class="btn btn-secondary roboto-bold text-capitalize" data-dismiss="modal">Cancelar</button>
          </div>
      </div>
  </div>
</div>
