<app-social-feed></app-social-feed>

<section class="container my-5 politics-section">
    <div class="row">
        <app-breadcrumb></app-breadcrumb>
        <div class="col-12">
            <h2 class="m-0 text-left text-dark montserrat-bold">
                Politicas de privacidad
            </h2>
        </div>
    </div>
    <div class="row py-3 mb-3">
        <div class="col-12">
            <p class="montserrat-regular">
                El presente Política de Privacidad establece los términos en que <span class="text-primary-regular">Viciny</span> usa y protege la información que es proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compañía está
                comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de
                este documento. Sin embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios.
            </p>
            <h4 class="montserrat-bold">
                SECCIÓN 1 - ¿QUÉ HACEMOS CON TU INFORMACIÓN?
            </h4>
            <p class="montserrat-regular">
                Cuando compras algo de nuestra tienda, como parte del proceso de compra venta, nosotros recolectamos la información personal que nos das tales como nombre, dirección y correo electrónico. Cuando navegas en nuestra tienda, también recibimos de manera automática
                la dirección de protocolo de internet de tu computadora (IP) con el fin de proporcionarnos información que nos ayuda a conocer acerca de su navegador y sistema operativo. Email marketing (if applicable): Con tu permiso, podremos enviarte
                correos electrónicos acerca de nuestra tienda, nuevos productos y otras actualizaciones
            </p>
            <h4 class="montserrat-bold">
                SECCIÓN 2 - CONSENTIMIENTO
            </h4>
            <p class="montserrat-regular">
                Cómo obtienen mi consentimiento? Cuando nos provees tu información personal para completar una transacción, verificar tu tarjeta de crédito, crear una órden, concertar un envío o hacer una devolución, implicamos que aceptas la recolección y uso por esa
                razón específica solamente. Si te pedimos tu información personal por una razón secundaria, como marketing, te pediremos directame tu expreso consentimiento, o te daremos la oportunidad de negarte. ¿Cómo puedo anular mi consentimiento?
                Si luego de haber aceptado cambias de opinión, puedes anular tu consentimiento para que te contactemos, por la recolección, uso o divulgación de tu información, en cualquier momento, contactándonos a naturalsexcol@gmail.com o escribiéndonos
                a: <span class="text-primary-regular">Viciny</span>, Municipio, Departamento, Codigo postal, Pais.
            </p>
            <h4 class="montserrat-bold">
                SECCIÓN 3 - DIVULGACIÓN
            </h4>
            <p class="montserrat-regular">
                Podemos divulgar tu información personal si se nos requiere por ley o si violas nuestros Términos de Servicio.
            </p>
            <h4 class="montserrat-bold">
                SECCIÓN 4 - SEGURIDAD
            </h4>
            <p class="montserrat-regular">
                Para proteger tu información personal, tomamos precauciones razonables y seguimos las mejores prácticas de la industria para asegurarnos de que no haya pérdida de manera inapropiada, mal uso, acceso, divulgación, alteración o destrucción de la misma.
                Si nos proporcionas la información de tu tarjeta de crédito, dicha información es encriptada mediante la tecnología Secure Socket Layer (SSL) y se almacena con un cifrado AES-256. Aunque ningún método de transmisión a través de Internet
                o de almacenamiento electrónico es 100% seguro, seguimos todos los requisitos de PCI-DSS e implementamos normas adicionales aceptadas por la industria.
            </p>
            <h4 class="montserrat-bold">
                SECCIÓN 5 - COOKIES
            </h4>
            <p class="montserrat-regular">
                Aquí tienes una lista de cookies que utilizamos. Las enlistamos para que puedas elegir si quieres optar por quitarlas o no. _session_id, unique token, sessional, Allows Shopify to store information about your session (referrer, landing page, etc). cart,
                unique token, persistent for 2 weeks, Stores information about the contents of your cart. _secure_session_id, unique token, sessional storefront_digest, unique token, indefinite If the shop has a password, this is used to determine if
                the current visitor has access.
            </p>
            <h4 class="montserrat-bold">
                SECCIÓN 6 - EDAD DE CONSENTIMIENTO
            </h4>
            <p class="montserrat-regular">
                Al utilizar este sitio, declaras que tienes al menos la mayoría de edad en tu estado o provincia de residencia, o que tienes la mayoría de edad en tu estado o provincia de residencia y que nos has dado tu consentimiento para permitir que cualquiera de
                tus dependientes menores use este sitio.
            </p>
            <h4 class="montserrat-bold">
                SECCIÓN 7 - CAMBIOS A ESTA POLÍTICA DE PRIVACIDAD
            </h4>
            <p class="montserrat-regular">
                Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento, asi que por favor revísala frecuentemente. Cambios y aclaraciones entrarán en vigencia inmediatamente después de su publicación en el sitio web. Si hacemos cambios
                materiales a esta política, notificaremos aquí que ha sido actualizada, por lo que cual estás enterado de qué información recopilamos, cómo y bajo qué circunstancias, si las hubiere, la utilizamos y/o divulgamos. Si nuestra tienda es adquirida
                o fusionada con otra empresa, tu información puede ser transferida a los nuevos propietarios, para que podamos seguir vendiéndote productos.
            </p>
            <h4 class="montserrat-bold">
                PREGUNTAS E INFORMACIÓN DE CONTACTO
            </h4>
            <p class="montserrat-regular">
                Si quieres: acceder, corregir, enmendar o borrar cualquier información personal que poseamos sobre ti, registrar una queja, o simplemente quieres más información contacta a nuestro Oficial de Cumplimiento de Privacidad <span class="montserrat-bold">ejemplo@gmail.com</span>                o por correopostal a <span class="text-primary-regular">Viciny</span>. Municipio, Departamento, Codigo postal, Pais.
            </p>
        </div>
    </div>
</section>