/* You can add global styles to this file, and also import other style files */

@import "assets/font-awesome/all.min.css";
@import "assets/css/fonts.css";
@import "assets/css/colors.css";
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css";
.pointer {
    cursor: pointer;
}


/*
* SWEETALERT2
*/

.swal2-title {
    font-family: 'Montserrat-Bold';
}

.swal2-content {
    font-family: 'Montserrat-Regular';
}

.swal2-actions {
    font-family: 'Roboto-Regular';
    font-size: 0.9em;
}