<footer class="footer footer-big bg-primary-bold pt-5 pb-3">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-8">
                    <figure>
                        <img src="assets/images/name.svg">
                    </figure>
                    <a href="https://www.facebook.com/vicinyapp" target="_blank" class="mr-2 text-white">
                        <i class="fab fa-facebook-square fa-2x"></i>
                    </a>
                    <a href="https://www.instagram.com/vicinyapp" target="_blank" class="mx-2 text-white">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                    <a href="https://twitter.com/vicinyapp" target="_blank" class="mx-2 text-white">
                        <i class="fab fa-twitter-square fa-2x"></i>
                    </a>
                </div>
                <div class="col-md-4">
                    <h5 class="montserrat-semibold mt-4 mt-md-0 text-white">Enlaces de interés</h5>
                    <div class="my-2">
                        <a [routerLink]="['/terminos-y-condiciones']" class="montserrat-regular font-sz-0 text-white text-capitalize">
                            - Terminos y condiciones de uso
                        </a>
                    </div>
                    <div class="my-2">
                        <a [routerLink]="['/politicas-de-privacidad']" class="montserrat-regular font-sz-0 text-white text-capitalize">
                            - Politicas de privacidad
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider-welcome">
        <div class="copyright text-white montserrat-regular">
            &#xA9; {{anio}} Viciny - Todos los derechos reservados.
        </div>
    </div>
</footer>