<section>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngFor="let event of events">
            <div class="card border-radius-2x bg-dark text-white pointer" [routerLink]="['/viciny',event.id]">
                <img class="card-img border-radius-2x redimension" [src]="event.image?event.image:'assets/images/no-image.png'" alt="Card image" height="258">
                <div class="card-img-overlay border-radius-2x card-footer text-muted flex-end pl-0 pb-0">
                    <p class="text-uppercase text-light montserrat-regular font-sz-0x m-0 p-3 info-event">
                        {{ event.finish_date | date: 'MMM d, y, h:mm a' }}
                        <br> <span class="montserrat-semibold font-sz-1">{{ event.name }}</span>
                        <br>
                        <i class="fas fa-music"></i>&nbsp;&nbsp;<span class="text-capitalize">{{ event.type_event.name }}</span>
                    </p>
                </div>
            </div>
            <div class="share-btn-event">
                <button (click)="openShared(event)" type="button" class="btn btn-primary btn-fab btn-round mx-2 bg-white" title="Compartir" data-toggle="modal" data-target="#socialnetwork">
          <i class="fas text-primary-regular font-sz-3 fa-share"></i>
        </button>
                <button (click)="addEventFavorite(event.id)" class="btn btn-primary btn-fab btn-round bg-white" title="Añadir a favoritos">
          <i class="fas text-primary-regular font-sz-3 fa-heart"></i>
        </button>
            </div>
        </div>
    </div>
</section>

<app-share-social [eventModal]="eventModal"></app-share-social>