/*SECTION WELCOME*/

.welcome-first {
    height: 100vh;
    background-image: url('../../../assets/images/bg-home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-popular {
    object-fit: fill;
    background-color: #1E122E;
}

.title-event-popular {
    word-break: break-word;
}

.parent-vertical {
    display: table !important;
    height: 100%;
}

.child-vertical {
    display: table-cell !important;
    vertical-align: middle;
}

.init-top {
    height: 60vh;
}

.social-network-v {
    writing-mode: vertical-lr;
}

.button-create-movil {
    position: absolute;
    bottom: 20px;
    left: 0px;
    padding: 20px 35px;
    background-color: rgba(60, 60, 60, 0.3);
    border-radius: 25px;
}

.button-create-movil p {
    color: rgb(60, 60, 60);
}

.button-create-container {
    padding-top: 25%;
}

.redimension {
    object-fit: cover;
}

.button-create-box {
    padding: 45px 20px;
    border-radius: 35px;
    background-color: rgba(60, 60, 60, 0.15);
    color: rgb(80, 80, 80);
}


/*SECTION CAROUSEL*/

.welcome-carousel {
    height: 40vh;
}

.view-more-movil {
    position: absolute;
    top: 0;
    padding: 15px;
    left: 15px;
    border-bottom-right-radius: 10px;
}

.style-next-prev {
    width: 100%;
    position: absolute;
    bottom: 25px;
}

.carousel-prev {
    width: 50%;
    display: inline-block;
    text-align: -webkit-center;
    color: white;
}

.carousel-next {
    width: 50%;
    display: inline-block;
    text-align: -webkit-center;
    color: white;
}


/*SECTION SEARCH*/

.select-event::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
    position: absolute;
    top: 35px;
    right: 10px;
    color: #c5c5c5;
}


/*SECTION EVENTS*/

.border-radius-2x {
    border-radius: 16px;
}

.flex-end {
    align-items: flex-end;
}

.share-btn-event {
    position: absolute;
    bottom: 18px;
    right: 18px;
}

.info-event {
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
}


/*MODAL*/

.shared-panel {
    overflow: auto;
}

.shared-panel span {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
}

.shared {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px 0;
    padding: 0;
    padding-top: 9px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%;
}

.shared:hover {
    opacity: 0.7;
}

.shared.gp {
    background-position: 0px 0px;
    background-color: #E62B34;
}

.shared.tt {
    background-position: 0px -30px;
    background-color: #43BDF0;
}

.shared.ce {
    background-position: 0px -60px;
    background-color: #8A898D;
}

.shared.wa {
    background-position: 0px -90px;
    background-color: #0dc143;
}

.shared.fb {
    background-position: 0px -120px;
    background-color: #6081C4;
}

.st2 {
    border-radius: 0;
}

.st3 {
    border-radius: 5px;
}

@media (min-width: 576px) {
    .button-create-event,
    .details-event-movil {
        display: block;
    }
    .view-more-movil,
    .button-create-movil {
        display: none !important;
    }
    .carousel-control-next {
        right: -40px;
    }
    .carousel-control-prev {
        left: -40px;
    }
}

@media (min-width: 768px) {
    .button-create-container {
        padding-top: 45%;
    }
    .button-create-box {
        padding: 25px 20px;
    }
}

@media (min-width: 1024px) {
    .button-create-container {
        padding-top: 25%;
    }
    .button-create-box {
        padding: 40px 20px;
    }
}

@media (min-width: 1440px) {
    .button-create-container {
        padding-top: 15%;
    }
    .button-create-box {
        padding: 50px 20px;
    }
}

@media (min-width: 2560px) {
    .button-create-container {
        padding-top: 5%;
    }
    .button-create-box {
        padding: 70px 20px;
    }
}

@media (max-width: 575px) {
    .button-create-event,
    .details-event-movil {
        display: none !important;
    }
    .view-more-movil,
    .button-create-movil {
        display: block !important;
    }
    .carousel-control-prev,
    .carousel-control-next {
        right: 0px;
    }
}

@media (max-height: 620px) {
    .social-network {
        display: none !important;
    }
}

@media (max-width: 765px) {
    .button-create-event,
    .details-event-movil {
        display: none !important;
    }
    .view-more-movil,
    .button-create-movil {
        display: block !important;
    }
    .social-network {
        padding-top: 80px;
        display: none !important;
    }
}